@font-face {
  font-family: Titillium Web;
  src: url(../fonts/Titillium_Web_200.otf) format("opentype"),
    url(../fonts/Titillium_Web_200.ttf) format("truetype"),
    url(../fonts/Titillium_Web_200.woff2) format("woff2"),
    url(../fonts/Titillium_Web_200.woff) format("woff");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Titillium Web;
  src: url(../fonts/Titillium_Web_300.otf) format("opentype"),
    url(../fonts/Titillium_Web_300.ttf) format("truetype"),
    url(../fonts/Titillium_Web_300.woff2) format("woff2"),
    url(../fonts/Titillium_Web_300.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: Titillium Web;
  src: url(../fonts/Titillium_Web_400.otf) format("opentype"),
    url(../fonts/Titillium_Web_400.ttf) format("truetype"),
    url(../fonts/Titillium_Web_400.woff2) format("woff2"),
    url(../fonts/Titillium_Web_400.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Titillium Web;
  src: url(../fonts/Titillium_Web_600.otf) format("opentype"),
    url(../fonts/Titillium_Web_200.ttf) format("truetype"),
    url(../fonts/Titillium_Web_600.woff2) format("woff2"),
    url(../fonts/Titillium_Web_600.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro_200.otf) format("opentype"),
    url(../fonts/Source_Sans_Pro_200.ttf) format("truetype"),
    url(../fonts/Source_Sans_Pro_200.woff) format("woff"),
    url(../fonts/Source_Sans_Pro_200.woff2) format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro_300.otf) format("opentype"),
    url(../fonts/Source_Sans_Pro_300.ttf) format("truetype"),
    url(../fonts/Source_Sans_Pro_300.woff) format("woff"),
    url(../fonts/Source_Sans_Pro_300.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro_400.otf) format("opentype"),
    url(../fonts/Source_Sans_Pro_400.ttf) format("truetype"),
    url(../fonts/Source_Sans_Pro_400.woff) format("woff"),
    url(../fonts/Source_Sans_Pro_400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro_600.otf) format("opentype"),
    url(../fonts/Source_Sans_Pro_600.ttf) format("truetype"),
    url(../fonts/Source_Sans_Pro_600.woff) format("woff"),
    url(../fonts/Source_Sans_Pro_600.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: Vazir;
  src: url(../fonts/Vazir.eot);
  src: url(../fonts/Vazir.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Vazir.woff) format("woff"),
    url(../fonts/Vazir.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Vazir;
  src: url(../fonts/Vazir-Bold.eot);
  src: url(../fonts/Vazir-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Vazir-Bold.woff) format("woff"),
    url(../fonts/Vazir-Bold.ttf) format("truetype");
  font-weight: 700;
}

